@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav portion style */
.navi{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navi-head{
    color: #0D1321;
    font-size: 20px;
    font-weight: 800;
}
.cv{
    width: 244px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}
/* banner styles */
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: cover;
    text-align: center;
}
.banner-image{
    margin-top: 26px;
}
.banner-header{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    width: 998px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;
}
.banner-description{
    font-size: 16px;
    font-weight: 300;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 0;
}
.contact{
    width: 200px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #0D1321;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 40px;
    /* padding: 21px 24px 21px 24px; */
}
/* Why web development styles */
.development{
    margin: 74px 148px 90px 152px;
    padding: 80px 97px;
    background-color: rgba(183, 188, 255, 0.068)
}
.why-development{
    text-align: center;
}
.why{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.why-ans{
    font-size: 16px;
    font-weight: 200;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.development-items{
    display: flex;
    justify-content: space-around;
    padding: 0px 97px 0px 97px;
    margin-bottom: 30px;
    background-color: white;
}
.development-items-l{
    display: flex;
    justify-content: space-around;
    padding: 0px 97px 0px 97px;
    margin-bottom: 30px ;
    background-color: white;
}
.items-head{
    font-size: 24px;
    font-weight: bold;
    color: #0d1321a1;
    width: 390px;
}
.items-description{
    font-size: 16px;
    font-weight: 200;
    color: #0d1321a1;
    width: 468px;
}
.learn-more{
    width: 244px;
    height: 40px;
    border: 1px solid gray;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    color: #0d13219c;
}
/* inspiration styles */
.inspiration-head{
    text-align: center;
}
.inspiration-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.inspiration-description{
    font-size: 16px;
    font-weight: 300;
    color: #0d1321c9;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.link{
    padding: 25px;
    width: 1140px;
    height: 614px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 16px;
    margin-bottom: 71px;
}
/* current target styles */
.target-header{
    text-align: center;
}
.target-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.target-description{
    font-size: 16px;
    font-weight: 200;
    color: #0D1321;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.target-container{
    display: flex;
    gap: 24px;
    padding: 0 148px 0 152px;
}
.container-value{
    padding: 30px;
}
.container-header{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 24px;
}
.container-description{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 24px;
}
.learn{
    color: black;
    font-weight: bold;
}
.html{
    background-color: rgba(255, 192, 203, 0.425);
}
.css{
    background-color: rgba(0, 0, 255, 0.144);
}
.js{
    background-color: rgba(255, 192, 203, 0.151);
}
.current-target{
    margin-bottom: 129px;
}
/* support styles */
.support{
    text-align: center;
    width: 1140px;
    height: 313px;
    background-color: rgba(0, 0, 0, 0.384);
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 80px;
}
.need-support{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    width: 292px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.support-description{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    width: 606px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.input-b{
    width: 548px;
    height: 57px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #0d13219c;
}
.submit-b{
    width: 244px;
    height: 57px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #0d1321a3;
}
/* footer part style */
.foot-container{
    display: flex;
    justify-content: space-between;
    padding: 32px 375px;
}
.icons{
    display: flex;
    gap: 20px;
}
.foot-heading{
    font-size: 20px;
    font-weight: 600;
}